workflows/BCKP_WF New.json
{
  "active": false,
  "connections": {
    "Set date": {
      "main": [
        [
          {
            "node": "Format date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format date": {
      "main": [
        [
          {
            "node": "Set commit date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set commit date": {
      "main": [
        [
          {
            "node": "List files from repository [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repository [GITHUB]": {
      "main": [
        [
          {
            "node": "Combine file names [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine file names [GITHUB]": {
      "main": [
        [
          {
            "node": "Retrieve workflows [N8N]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows [N8N]": {
      "main": [
        [
          {
            "node": "Move JSON to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move JSON to binary": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to single items": {
      "main": [
        [
          {
            "node": "Check if file exists in repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists in repository": {
      "main": [
        [
          {
            "node": "Update file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file [GITHUB]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file [GITHUB]": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-10T20:56:42.116Z",
  "id": "J7mWiCMcs0NOTCwm",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BCKP_WF New",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "c679d55c-89e0-4075-91c4-80d7e8c9c907",
      "name": "Set date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1900,
        280
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy/H:mm",
        "options": {}
      },
      "id": "d0d6a136-d65c-4f09-aecc-0089176e9c5c",
      "name": "Format date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1700,
        280
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "commitDate",
              "value": "={{ $json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "48aace2c-c9b3-40dd-99bb-d8d71cba740c",
      "name": "Set commit date",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1500,
        280
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "https://github.com/vicezvo",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/vicezvo/n8n-backup"
        },
        "filePath": "="
      },
      "id": "9a662d0e-2129-4b87-a4d3-28d7866d43fc",
      "name": "List files from repository [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1300,
        280
      ],
      "alwaysOutputData": true,
      "webhookId": "c573f07d-61d0-4a8a-a544-8f483f6c27a7",
      "credentials": {
        "githubApi": {
          "id": "tkdpuaLmIk08TDaP",
          "name": "GitHub vicezvo"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "a4ac7d38-c701-4a25-af86-5ee6844882d9",
      "name": "Combine file names [GITHUB]",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        -1100,
        280
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "f8eadb38-2195-4db4-bfe4-a20d1acb1388",
      "name": "Retrieve workflows [N8N]",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -900,
        280
      ],
      "credentials": {
        "n8nApi": {
          "id": "4SmgVbxyCqNd4gJ1",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "fileName": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"
        }
      },
      "id": "eb4ebace-0d43-49a3-afdf-4df9d3a01083",
      "name": "Move JSON to binary",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -700,
        280
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "6c68b94a-493f-4a1d-a3da-8736cf32da2d",
      "name": "Split to single items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -460,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Combine file names [GITHUB]'].json.name }}",
              "operation": "contains",
              "value2": "={{ $binary.data.fileName }}"
            }
          ]
        }
      },
      "id": "ccbb601a-5f56-4f0d-97dd-a63ac67660a8",
      "name": "Check if file exists in repository",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -220,
        200
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "m-jasim-gmi",
          "mode": "list",
          "cachedResultName": "m-jasim-gmi",
          "cachedResultUrl": "https://github.com/m-jasim-gmi"
        },
        "repository": {
          "__rl": true,
          "value": "Backup-n8n-workflows",
          "mode": "list",
          "cachedResultName": "Backup-n8n-workflows",
          "cachedResultUrl": "https://github.com/m-jasim-gmi/Backup-n8n-workflows"
        },
        "filePath": "={{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "=backup-{{ $node['Set commit date'].json.commitDate }}"
      },
      "id": "a2369f9e-b8be-40a2-a6b3-7e7d431ad5e2",
      "name": "Update file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "b8ea8328-ab69-4edd-b8ea-a1c41f9a5706",
      "credentials": {
        "githubApi": {
          "id": "tkdpuaLmIk08TDaP",
          "name": "GitHub vicezvo"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "m-jasim-gmi",
          "mode": "list",
          "cachedResultName": "m-jasim-gmi",
          "cachedResultUrl": "https://github.com/m-jasim-gmi"
        },
        "repository": {
          "__rl": true,
          "value": "Backup-n8n-workflows",
          "mode": "list",
          "cachedResultName": "Backup-n8n-workflows",
          "cachedResultUrl": "https://github.com/m-jasim-gmi/Backup-n8n-workflows"
        },
        "filePath": "={{ $binary.data.fileName }}",
        "binaryData": true,
        "commitMessage": "=backup-{{ $node['Set commit date'].json.commitDate }}"
      },
      "id": "9bb8b07b-2131-415c-bc48-9f6487fb78c4",
      "name": "Upload file [GITHUB]",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "webhookId": "cae87e03-ff67-4c78-ac17-866958c45235",
      "credentials": {
        "githubOAuth2Api": {
          "id": "K4FWfiDN7SqYXGXj",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2120,
        280
      ],
      "id": "669623ca-633d-43da-8c3d-9dcf08352ef1",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-10T21:18:54.000Z",
  "versionId": "a44877bd-2374-497e-8433-6f95f487e96d"
}