workflows/MKTAGNT__Blog.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Search Intent analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Content Writer & Onpage",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Intent analyze": {
      "main": [
        [
          {
            "node": "Content Writer & Onpage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Update GG Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update GG Doc": {
      "main": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Writer & Onpage": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_HelpFul_Content": {
      "ai_tool": [
        [
          {
            "node": "Content Writer & Onpage",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Claude sonet 3.7": {
      "ai_languageModel": [
        [
          {
            "node": "Content Writer & Onpage",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Agent": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Photo": {
      "main": [
        [
          {
            "node": "Notify Reviewer (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Image Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image & Title": {
      "ai_outputParser": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Send Photo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-10T20:46:57.974Z",
  "id": "ReVR687qelAe4BB1",
  "meta": null,
  "name": "MKTAGNT__Blog",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "blogTopic"
            },
            {
              "name": "target_audience"
            },
            {
              "name": "chatID"
            },
            {
              "name": "Note_For_Research"
            }
          ]
        }
      },
      "id": "794a2911-c4d4-4967-85d2-3208ebea3539",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "=1. Blog Title: \"{{ $('Content Writer & Onpage').item.json.output.split(\"\\n\")[0].replace(\"# \", \"\") || $json.topic }}\".\n\n2. <a href=\"https://docs.google.com/document/d/{{ $('Update GG Doc').item.json.documentId }}/edit?usp=sharing\"> Blog content - file doc </a> \n",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "4334b8a8-1aff-4e18-9c5b-fb1e477742b4",
      "name": "Notify Reviewer (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1300,
        460
      ],
      "webhookId": "ba7156ba-100d-4b99-a912-6b8ab91b2a38"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"[Instruction]: Answer in Markdown format with clear structure, bullet points, and short paragraphs.\\n\\n[Role]: You are a Researcher & Semantic SEO Expert. Your task is to research the latest up-to-date, accuracy & depth of the query you will be provided .\"\n    },\n    {\n      \"role\": \"user\",\n     \"content\": \"{{ $json.blogTopic }} \\n\\n Note: {{ $json.Note_For_Research }}\"\n    }\n  ],\n  \"options\": {\n    \"temperature\": 1,\n    \"max_tokens\": 10000\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ],
      "id": "61fef71e-ec8d-4bfe-b4de-b023c058b2eb",
      "name": "Search Intent analyze"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        780,
        220
      ],
      "id": "28fce941-6885-47af-a53b-5a450b460772",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dựa trên phần knowledge được cung cấp, hãy viết một nội dung để đăng trên website The AI Growth với các thông tin bên dưới.\n\n### [theme: {{ $('Execute Workflow Trigger').item.json.blogTopic }}] [audience: {{ $('Execute Workflow Trigger').item.json.target_audience }}] [format: blogpost]  [length: 1500 - 2000 words] \n\nViết bằng tiếng Việt. \n\n[final reminder]:\n\n1. Ưu tiên viết content ở dạng paragraph format, nếu dùng list hoặc table format, content phải ổn về contextual flow, contextual coverage. Có flow nội dung rành mạch, rõ ràng, tự nhiên cho người đọc.\n2. Output in Vietnamese. Use Vietnamese grammar and language.",
        "options": {
          "systemMessage": "=[knowledge]:\n{{ $json.choices[0].message.content }}\n[Role]:\nSEO & Content creation Professional with 10 years of experience.  Bạn cũng chuyên về lĩnh vực AI và là writer cho thương hiệu The AI Growth (TAG).\n\n[Tools]:\n1. Google_HelpFul_Content: Use this tool to retrieve the full requirements of Google on how to create the content that is good. **Call this tool without any input parameters.**\n2. Think: Use the tool before generating the final response/content/output, in order to think about the guidlines, checklist the approach  final output will try its best meet the standard of Google_HelpFul_Content.\n\n[style of writing]:\nWrite in a style that is authoritative, educational, and friendly. Use a conversational tone to explain technical concepts simply. Keep sentences concise (10-20 words), with short paragraphs (2-3 sentences). Engage readers by asking questions and including practical examples or data. Use clear headings and bullet points to improve readability. Include relatable analogies and business-use cases to make complex ideas tangible. Write as if you are speaking directly to a curious learner, guiding them through the topic step by step.\n\n[reminder]:\nToday is {{ $now }}\n\n[output example]:\n\n# An AI-powered workflow to solve content cannibalization\n\n###   \n\nYour site likely suffers from at least some content cannibalization—and you might not even realize it.\n\nCannibalization hurts organic traffic and revenue: The impact can stretch from _key pages not ranking_ to _algorithm issues due to low [domain quality](https://www.growth-memo.com/p/seozempic)._\n\nHowever, cannibalization is tricky to detect, can change over time, and exists on a spectrum.\n\nIt’s the “microplastics of SEO.”\n\nIn this Memo, I’ll show you:\n\n1.  How to identify and fix content cannibalization reliably\n    \n2.  How to automate content cannibalization detection\n    \n3.  An automated workflow you can try out right now: The [Cannibalization Detector](https://app.airops.com/public_apps/a5c873af-e5e3-4855-8261-808807fe7489/run), my new keyword cannibalization tool\n    \n\nI could have never done this without [Nicole Guercia](https://www.linkedin.com/in/nicoleguercia/) from AirOps. I’ve designed the concept and stress-tested the automated workflow, but Nicole built the whole thing.\n\n## How to think about content cannibalization the right way\n\nBefore jumping into the workflow, we must clarify a few guiding principles about content cannibalization that are often misunderstood.\n\nThe biggest misconception about cannibalization is that it happens on the keyword level.\n\n**It’s actually happening on the user intent level.**\n\n**We all need to stop thinking about this concept as** _**keyword cannibalization**_ **and instead as** _**content cannibalization**_ **based on user intent.**\n\n**With this in mind**, cannibalization…\n\n*   **Is a moving target**: When Google updates its understanding of intent during a core update, suddenly two pages can compete with each other that previously didn’t.\n    \n*   **Exists on a spectrum**: A page can compete with another page or _several pages,_ with an intent overlap from 10% to 100%. It’s hard to say exactly how much overlap is fine without looking at outcomes and context.\n    \n*   **Doesn’t stop at rankings:** Looking for two pages that are getting a \"substantial\" amount of impressions or rankings for the same keyword(s) can help you spot cannibalization, but it is not a very accurate method. It’s not enough proof.\n    \n*   **Needs regular check-ups**: You need to check your site for cannibalization regularly and treat your content library as a “living” ecosystem.\n    \n*   **Can be sneaky**: Many cases are not clear-cut. For example, international content cannibalization is not obvious. A /en directory to address all English-speaking countries can compete with a /en-us directory for the US market.\n    \n\n[\n\n![](https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F6df91ba6-7cf0-4ade-8690-c6df8fb21b53_1600x1106.png)\n\n\n\n](https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F6df91ba6-7cf0-4ade-8690-c6df8fb21b53_1600x1106.png)\n\nDifferent types of sites have fundamentally different weaknesses for cannibalization.\n\nMy model for site types is the [integrator vs aggregator model](https://www.growth-memo.com/p/integrator-vs-aggregator-growth). Online retailers and other marketplaces face fundamentally different cases of cannibalization than SaaS or D2C companies.\n\n**Integrators** cannibalize between _pages_. **Aggregators** cannibalize between page _types._\n\n*   **With aggregators,** cannibalization often happens when two page types are too similar. For example, you can have two page types that could or could not compete with each other: “points of interest in {city}” and “things to do in {city}”.\n    \n*   **With integrators,** cannibalization often happens when companies publish new content without maintenance and a plan for the existing content. A big part of the issue is that it becomes harder to keep an overview of what you have and what keywords/intent it targets at a certain number of articles (I found the linchpin to be around 250 articles).\n    \n\n## How to spot content cannibalization\n\n[\n\n![](https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F7cd419cf-93c9-4d18-838c-e713949bd0de_1600x592.png)\n\n\n\n](https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F7cd419cf-93c9-4d18-838c-e713949bd0de_1600x592.png)\n\nAn example of content cannibalization\n\nContent cannibalization can have one or more of the following symptoms:\n\n*   “URL flickering”: meaning at least two URLs alternate in ranking for one or more keywords\n    \n*   A page loses traffic and/or ranking positions after another one goes live\n    \n*   A new page hits a ranking plateau for its main keyword and cannot break into the top 3 positions\n    \n*   Google doesn’t index a new page or pages within the same page type\n    \n*   Exact duplicate titles appear in Google’s search index\n    \n*   Google reports [“crawled, not indexed”](https://support.google.com/webmasters/answer/7440203?hl=en) or [“discovered, not indexed”](https://support.google.com/webmasters/answer/7440203?hl=en) for URLs that don’t have thin content or technical issues\n    \n\nSince Google doesn’t give us a clear signal for cannibalization, the best way to measure similarity between two or more pages is _cosine similarity between their tokenized embeddings_ (I know, it’s a mouth full).\n\nBut this is what it means: Basically, you compare how similar two pages are by turning their text into numbers and seeing how closely those numbers point in the same direction.\n\nThink about it like a chocolate cookie recipe:\n\n1.  **Tokenization =** Break down each recipe (eg, _page content_) into ingredients: flour, sugar, chocolate chips, etc.\n    \n2.  **Embeddings** \\= Convert each ingredient into numbers**,** like how much of each ingredient is used and how important each one is to the recipe's identity.\n    \n3.  **Cosine Similarity** \\= Compare the recipes mathematically. This gives you a number between 0 and 1. A score of 1 means the recipes are identical, while 0 means they're completely different.\n    \n\nFollow this process to scan your site and find cannibalization candidates:\n\n1.  **Crawl:** Scrape your site with a tool like Screaming Frog (optionally exclude pages that have no SEO purpose) to extract the URL and meta title of each page\n    \n2.  **Tokenization**: Turn words in both the URL and title into _pieces of words_ that are easier to work with. These are your tokens.\n    \n3.  **Embeddings**: Turn the _tokens_ into numbers to do “word math.”\n    \n4.  **Similarity**: Calculate the cosine similarity between all URLs and meta titles\n    \n\nIdeally, this gives you a shortlist of URLs and titles that are too similar.\n\nIn the next step, you can apply the following process to make sure they truly cannibalize each other:\n\n1.  **Extract content**: Clearly isolate the main content (exclude navigation, footer, ads, etc.). Maybe clean up certain elements, like stop words.\n    \n2.  **Chunking or tokenization**: Either split content into meaningful chunks (sentences or paragraphs) or tokenize directly. I prefer the latter.\n    \n3.  **Embeddings**: Embed the tokens.\n    \n4.  **Entities**: Extract named entities from the tokens and weigh them higher in embeddings. In essence, you check which embeddings are “known things” and give them more power in your analysis.\n    \n5.  **Aggregation of embeddings**: Aggregate token/chunk embeddings with a weighted averaging (eg, TF-IDF) or attention-weighted pooling.\n    \n6.  **Cosine similarity**: Calculate cosine similarity between resulting embeddings.\n    \n\nYou can [use my app script](https://github.com/k-indig/webpage-similarity/blob/main/app-script) if you’d like to try it out in Google Sheets (but I have a better alternative for you in a moment).\n\n**About cosine similarity:** It’s not perfect, but good enough.\n\nYes, you can fine-tune embedding models for specific topics.\n\nAnd yes, you can use advanced embedding models like sentence transformers on top, but this simplified process is usually sufficient. No need to make an astrophysics project out of it.\n\n## How to fix cannibalization\n\nOnce you’ve identified cannibalization, you should take action.\n\nBut don’t forget to adjust your long-term approach to content creation and governance. If you don’t, all this work to find and fix cannibalization is going to be a waste.\n\n### Solving cannibalization in the short term\n\nThe short-term action you should take depends on the degree of cannibalization and how quickly you can act.\n\n“Degree” means how similar the content across two or more pages is, expressed in cosine or content similarity.\n\nThough not an exact science, in my experience, a cosine similarity higher than 0.7 classifies as “high”, while it’s “low” below a value of 0.5.\n\n[\n\n![](https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fd17fc65e-215f-4fb9-b29b-0cfa37879d6f_1600x1247.png)\n\n\n\n](https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fd17fc65e-215f-4fb9-b29b-0cfa37879d6f_1600x1247.png)\n\n4 ways to fix cannibalization\n\n**What to do if the pages have a high degree of similarity:**\n\n*   **Canonicalize or noindex** the page when cannibalization happens due to technical issues like parameter URLs—or if the cannibalizing page is irrelevant for SEO, like paid landing pages. In this case, canonicalize the parameter URL to the non-parameter URL (or noindex the paid landing page).\n    \n*   **Consolidate** with another page when it’s not a technical issue. Consolidation means combining the content and redirecting the URLs. I suggest taking the older page and/or worse performing page and redirecting to a new, better page. Then, transfer any useful content to the new variant.\n    \n\n**What to do if the pages have a low degree of similarity:**\n\n*   **Noindex or remove** (status code: 410) when you don’t have the capacity or ability to make content changes.\n    \n*   **Disambiguate** the intent focus of the content if you have the capacity—and if the overlap is not too strong. In essence, you want to differentiate the parts of the pages that are too similar.\n    \n\n### Solving cannibalization in the long term\n\nIt’s critical to take long-term action to adjust your strategy or production process because content cannibalization is a symptom of a bigger issue—not a root cause.\n\n(Unless we’re talking about Google changing its understanding of intent during a core algorithm update—and that has nothing to do with you or your team.)\n\nThe most critical long-term changes you need to make are:\n\n1.  **Create a content roadmap:** SEO Integrators should maintain a living spreadsheet or database with all SEO-relevant URLs and their main target keywords and intent to tighten editorial oversight. Whoever is in charge of the content roadmap needs to ensure there is no overlap between articles and other page types. Writers need to have a clear target intent for new and existing content.\n    \n2.  **Develop clear site architecture**: The pendant of a content map for SEO Aggregators is a site architecture map, which is simply an overview of different page types and the intent they target. It’s critical to underline the intent as you define it with example keywords that you verify on a regular basis (”_Are we still ranking well for those keywords?_”) to match it against Google’s understanding and competitors.\n    \n\nThe last question is: “How do I know when _content cannibalization is_ fixed?”\n\nThe answer is when the symptoms mentioned in the previous chapter go away:\n\n*   Indexing issues resolve\n    \n*   URL flickering goes away\n    \n*   No duplicate titles appear in Google’s search index\n    \n*   “Crawled, not indexed” or “discovered, not indexed” issues decrease\n    \n*   Rankings stabilize and break through a plateau (if the page has no other apparent issues)\n    \n\nAnd, after working with my clients under this manual framework for years, I decided it’s time to automate it.\n\n## Introducing: a fully automated cannibalization detector\n\nTogether with Nicole, I used [AirOps](https://app.airops.com/) to build a fully automated AI workflow that goes through 37 steps to detect cannibalization within minutes.\n\nIt performs a thorough analysis of content cannibalization by examining keyword rankings, content similarity, and historical data.\n\nBelow, I’ll break down the most important steps that it automates on your behalf:\n\n1. **Initial URL Processing**\n\nThe workflow extracts and normalizes the domain and brand name from the input URL.\n\nThis foundational step establishes the target website's identity and creates the baseline for all subsequent analysis.\n\n[\n\n![](https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F4f924bea-bcc2-4214-9f3a-10087a2ae347_600x700.png)\n\n\n\n](https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F4f924bea-bcc2-4214-9f3a-10087a2ae347_600x700.png)\n\n2. **Target Content Analysis**\n\nTo ensure that the system has quality source material to analyze and compare against competitors, Step 2 involves:\n\n*   Scraping the page\n    \n*   Validating and analyzing the HTML structure for main content extraction\n    \n\nCleaning the article content and generating target embeddings\n\n[\n\n![](https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fac77f2c2-24c2-4cef-8da6-22e4172708f1_600x700.png)\n\n\n\n](https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fac77f2c2-24c2-4cef-8da6-22e4172708f1_600x700.png)\n\n3. **Keyword Analysis**\n\nStep 3 reveals the target URL's search visibility and potential vulnerabilities by:\n\n*   Analyzing ranking keywords through SEMrush data\n    \n*   Filtering branded versus non-branded terms\n    \n*   Identifying SERP overlap with competing URLs\n    \n*   Conducting historical ranking analysis\n    \n*   Determining page value based on multiple metrics\n    \n*   Analyzing position differential changes over time\n    \n\n[\n\n![](https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fb31d8b95-33ae-4163-a059-e68639271fc0_600x700.png)\n\n\n\n](https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fb31d8b95-33ae-4163-a059-e68639271fc0_600x700.png)\n\n4. **Competing Content Analysis** (Iteration over competing URLs)\n\nStep 4 gathers additional context for cannibalization by iteratively processing each competing URL in the search results through the previous steps.\n\n[\n\n![](https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fc18c5e2a-07e8-44dc-a59d-04eee902d549_600x700.png)\n\n\n\n](https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fc18c5e2a-07e8-44dc-a59d-04eee902d549_600x700.png)\n\n5. **Final Report Generation**\n\nIn the final step, the workflow cleans up the data and generates an actionable report.\n\n[\n\n![](https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F8c852dd7-2cc3-4f47-b9b7-104c3a7d7560_600x700.png)\n\n\n\n](https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F8c852dd7-2cc3-4f47-b9b7-104c3a7d7560_600x700.png)\n\n## Try the automated content Cannibalization Detector\n\n[\n\n![](https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F4800b37c-ff78-4e5e-8b46-310bd6cb235f_1600x745.png)\n\n\n\n](https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F4800b37c-ff78-4e5e-8b46-310bd6cb235f_1600x745.png)\n\nTry the [Cannibalization Detector](https://airops.typeform.com/to/Hd3ce2pU) and check out an [example report](https://docs.google.com/document/d/1x7xDuzVZv-pq6RyGKMXGK05AfnJ_Knprz1ia3Tv891o/edit?tab=t.0#heading=h.hwcjpi4jdfex).\n\nA few things to note:\n\n1.  **This is an early version.** We’re planning to optimize and improve it over time.\n    \n2.  **The workflow can time out** due to a high number of requests. We intentionally limit usage to not get overwhelmed by API calls (they cost money). We’ll monitor usage and might temporarily raise the limit, which means if your first attempt isn’t successful, try again in a few minutes. It might just be a temporary spike in usage.\n    \n3.  **I’m an advisor to AirOps** but was neither paid nor incentivized in any other way to build this workflow.\n    \n\nPlease leave your feedback in the comments.\n\nWe’d love to hear how we can take the Cannibalization Detector to the next level!"
        }
      },
      "id": "d26ac14e-46bb-4671-9411-31073117a847",
      "name": "Content Writer & Onpage",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        0
      ]
    },
    {
      "parameters": {
        "folderId": "15lMM-u_LW0qHn6jb5AEWZXLwtbCqyNgJ",
        "title": "={{ $('Execute Workflow Trigger').item.json.blogTopic }} - Content detail"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        940,
        0
      ],
      "id": "6069063a-0254-44ed-9b5e-ad5f9841b54d",
      "name": "Google Docs"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Content Writer & Onpage').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "48a50466-6e00-4e4d-80c3-fedc0aa18daa",
      "name": "Update GG Doc"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1Q3QIfMVcY0GeSCCuomPV2NwxX0ui2NHyi_eNWWGpK2w",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        620,
        220
      ],
      "id": "4d1e7b73-d11e-400b-81b6-a745475b9361",
      "name": "Google_HelpFul_Content"
    },
    {
      "parameters": {
        "content": "## Structured Output",
        "height": 240,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        540
      ],
      "id": "f2c947d4-88ff-4e80-b541-e637c2912620",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "text": "={{ $('Blog Post Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1620,
        460
      ],
      "id": "1fe5b566-363d-4437-b862-53f17506f19e",
      "name": "Send Blog1",
      "webhookId": "94fa70af-f2fc-4c05-8fa1-d9f55637485f",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Write to Drive & Sheets",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        700
      ],
      "id": "24fbb42c-9d6f-438a-a1ae-d6bcf05c5f19",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Send Content",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        380
      ],
      "id": "5f4570e7-8290-40b8-be0a-302b62796865",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-7-sonnet-20250219",
          "mode": "list",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {
          "maxTokensToSample": 64000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        460,
        220
      ],
      "id": "68ca575d-d036-428e-9783-96f4676ff47d",
      "name": "Claude sonet 3.7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Blog Post: [\n{{ $('Content Writer & Onpage').item.json.output }} ]",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent that transforms blog posts into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with the post, helping communicate the message in a visually engaging, brand-aligned way.\n\n## Objective:\n- Read and analyze the given blog post.\n- Identify the main message, insight, or takeaway from the post.\n- Create a clear and compelling graphic prompt that can be used with a text-to-image generator.\n- The result should be a marketing-style graphic — not a literal scene or hyperrealistic photo — that:\n1) Visually supports or illustrates the key idea of the post\n2) Looks appropriate for use in a professional LinkedIn feed\n3) Feels polished, modern, and engaging\n\n## Output Instructions:\n- Output two fields: \n1) title (2-4 words) \n2) prompt\n- Output only the final image prompt. Do not output quotation marks.\n- Do not repeat or rephrase the blog post.\n- Do not add any explanations or extra content — just the image prompt.\n- Never leave things blank like \"Header area reserved for customizable callout text\"\n- Output numeric stats when available in the original post\n\n## Style Guidelines:\n- Think like a brand designer or marketing creative.\n- Visuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts.\n- You can mention layout suggestions (e.g., \"split screen design,\" \"header with bold title and subtle background illustration\").\n- Assume the output will be generated using AI image tools — your prompt should guide those tools effectively.\n\n## Example Prompt Format:\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation. Minimalist background, soft gradients, clean sans-serif text placement space at the top.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -40,
        400
      ],
      "id": "1f20c4e3-b5fa-4360-97d2-485d8fd7139c",
      "name": "Image Prompt Agent"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1060,
        460
      ],
      "id": "2a33f9d0-ccc4-4a8f-95ed-f006056d5f57",
      "name": "Send Photo",
      "webhookId": "8fcbda9c-8396-41f7-8f2d-39e4ae4337c7"
    },
    {
      "parameters": {
        "name": "={{ $('Image Prompt Agent').item.json.output.title }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1FQE2gBJL0EznlRgXXyMcJO7xtvBQ384-",
          "mode": "list",
          "cachedResultName": "Image folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FQE2gBJL0EznlRgXXyMcJO7xtvBQ384-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1060,
        760
      ],
      "id": "b64a381b-c309-42d4-a388-d74469c166ec",
      "name": "Upload"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"<2-4 word creative title for the image>\",\n  \"prompt\": \"<full detailed image generation prompt>\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        200,
        640
      ],
      "id": "4d5a2858-ad5c-4f25-91c4-e107f4e5e959",
      "name": "Image & Title"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output.prompt.replace(/\"/g, '') }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        580
      ],
      "id": "2c79a7b3-11ad-4f89-b13e-f7d8fafeb3d8",
      "name": "Generate Image"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        680,
        580
      ],
      "id": "e6a475bd-ae6b-411f-ad48-f66d26ae3ecf",
      "name": "Convert to Binary"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QFsu63sPEgwBzZY0wPE-jluWL3Vz6wZLkEh7sA6es8k",
          "mode": "list",
          "cachedResultName": "Workflow Automation n8n - Content Marketing All",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFsu63sPEgwBzZY0wPE-jluWL3Vz6wZLkEh7sA6es8k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 436456524,
          "mode": "list",
          "cachedResultName": "Blogpost",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFsu63sPEgwBzZY0wPE-jluWL3Vz6wZLkEh7sA6es8k/edit#gid=436456524"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "stt": "=",
            "Drive Image Link": "={{ $json.webViewLink }}",
            "Content link": "=https://docs.google.com/document/d/{{ $('Update GG Doc').item.json.documentId }}/edit?usp=sharing",
            "Title of the blog": "={{ $('Execute Workflow Trigger').item.json.blogTopic }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "stt",
              "displayName": "stt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title of the blog",
              "displayName": "Title of the blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content link",
              "displayName": "Content link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Drive Image Link",
              "displayName": "Drive Image Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1280,
        760
      ],
      "id": "272d2e09-91d9-4d8e-ad81-2d9d9bbb678b",
      "name": "Image Log"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "blogTopic": "AI Search Engine ảnh hưởng tới Google và SEO như thế nào? Và SEO-er nên làm gì?",
          "target_audience": "CEO, Managers, Digital Marketer, SEO-er",
          "chatID": 5443285991,
          "Note_For_Research": "Research về lý do tại sao cổ phiếu Google lại giảm mạnh vào tháng 5/2025, điều này liên quan gì tới AI Search Engine và AI nói chung."
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-10T20:46:25.556Z",
      "updatedAt": "2025-05-10T20:46:25.556Z",
      "id": "VC5asKMyDTaKtWPW",
      "name": "marketing-automation"
    },
    {
      "createdAt": "2025-05-10T20:46:25.563Z",
      "updatedAt": "2025-05-10T20:46:25.563Z",
      "id": "buAXcRzQPjoeaaPl",
      "name": "content"
    },
    {
      "createdAt": "2025-05-10T20:46:25.560Z",
      "updatedAt": "2025-05-10T20:46:25.560Z",
      "id": "s4mTtsKTNwWJ43sQ",
      "name": "seo"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-10T20:46:57.000Z",
  "versionId": "935ed5a7-b65a-45ee-bd7c-40c947c4a371"
}