workflows/MKTAGNT__SEO.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Keyword Research": {
      "main": [
        [
          {
            "node": "Send Information",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Topical Map Generation": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: SEO Audit": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Title/URL/Meta Generation": {
      "main": [
        [
          {
            "node": "Send Information",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: Topical Map Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: Keyword Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Agent: Keyword Research",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: Title/URL/Meta Generation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: Topical Map Generation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: SEO Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Agent: Topical Map Generation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Update GG Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update GG Doc": {
      "main": [
        [
          {
            "node": "Send Information1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: SEO Audit",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Agent: SEO Audit",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Update GG Doc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update GG Doc1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Information2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: Title/URL/Meta Generation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-10T20:50:22.932Z",
  "id": "5SJBb8g1Y8XrwYMN",
  "meta": null,
  "name": "MKTAGNT__SEO",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "seo_task_type"
            },
            {
              "name": "user_query"
            },
            {
              "name": "target_url"
            },
            {
              "name": "chatID"
            }
          ]
        }
      },
      "id": "e248d7c6-9b6f-4111-b75f-c3b5248f8ec4",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        500
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. User query: {{ $json.user_query }}\n2. Output format: Text or markdown format only. Do not in json format.",
        "options": {
          "systemMessage": "=You are an SEO expert. Based on the user query and brand context, generate a comprehensive list of relevant keywords, including long-tail keywords, search volume estimates (low, medium, high), and keyword difficulty estimates (low, medium, high). Format the output as a JSON array of objects, each object containing \"keyword\", \"search_volume_estimate\", and \"difficulty_estimate\".\n\n\n## Brand Information: \n- Target Audience: CEO, Managers, Digital Marketer, SEO-er.\n- Brand name: The AI Growth (or TAG)\n- Brand description: The AI Growth định vị là nền tảng tiên phong và đáng tin cậy tại Việt Nam, cung cấp các giải pháp AI và Automation để tiếp cận cho các doanh nghiệp SMEs, nhà quản lý marketing, và các nhà sáng tạo nội dung. The AI Growth mang đến kiến thức chuyên sâu, các công cụ hiện đại và ứng dụng thực tế, giúp khách hàng đạt được hiệu suất tối ưu trong hoạt động marketing, giảm chi phí, và mở rộng tăng trưởng nhanh chóng.\n- Brand image: Dành cho doanh nghiệp và marketer Việt Nam đang đối mặt với chi phí vận hành cao và hiệu quả marketing chưa tối ưu, The AI Growth là nền tảng đào tạo AI & Automation tiên phong mang đến giải pháp thực tiễn với cam kết hiệu quả trong 24 giờ thông qua phương châm 'Learning by Doing' - khác biệt với các khóa học marketing truyền thống chỉ cung cấp kiến thức lý thuyết.\n- Solution: Khóa học AI & Automation\n- Target market: Việt Nam"
        }
      },
      "id": "d8b295ba-e7c7-4727-86df-6e422861fd09",
      "name": "Agent: Keyword Research",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. Main topic/keyword: {{ $json.user_query }}\n\n2. Output format: Text or markdown format only.  Do not in json format.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an SEO strategist. Based on the main topic/keyword and brand context, generate a detailed topical map. This should include main categories, sub-categories, and potential content ideas (e.g., blog post titles, questions to answer) for each. Format the output as a structured JSON object representing the map.\n\n## Brand Information: \n- Target Audience: CEO, Managers, Digital Marketer, SEO-er.\n- Brand name: The AI Growth (or TAG)\n- Brand description: The AI Growth định vị là nền tảng tiên phong và đáng tin cậy tại Việt Nam, cung cấp các giải pháp AI và Automation để tiếp cận cho các doanh nghiệp SMEs, nhà quản lý marketing, và các nhà sáng tạo nội dung. The AI Growth mang đến kiến thức chuyên sâu, các công cụ hiện đại và ứng dụng thực tế, giúp khách hàng đạt được hiệu suất tối ưu trong hoạt động marketing, giảm chi phí, và mở rộng tăng trưởng nhanh chóng.\n- Brand image: Dành cho doanh nghiệp và marketer Việt Nam đang đối mặt với chi phí vận hành cao và hiệu quả marketing chưa tối ưu, The AI Growth là nền tảng đào tạo AI & Automation tiên phong mang đến giải pháp thực tiễn với cam kết hiệu quả trong 24 giờ thông qua phương châm 'Learning by Doing' - khác biệt với các khóa học marketing truyền thống chỉ cung cấp kiến thức lý thuyết.\n- Solution: Khóa học AI & Automation\n- Target market: Việt Nam\n- Website: https://theaigrowth.io\n\n## tool \n- Think: use this tool to think deeply when doing the task and after generate the response."
        }
      },
      "id": "a1e500a6-d3a4-49e4-a6c7-a48929221b7a",
      "name": "Agent: Topical Map Generation",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        0,
        560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. Target URL for audit: {{ $json.target_url }}\n2. Output format: Text or markdown format only. Do not in json format.\n3. Focus areas: On-page SEO, technical SEO (conceptual), content quality, backlink profile (conceptual).",
        "options": {
          "systemMessage": "=## Context & role \nYou are an SEO auditor. Provide a high-level conceptual SEO audit for the given target URL. Focus on potential issues and recommendations for on-page elements (titles, metas, headings, content), technical aspects (site speed, mobile-friendliness, crawlability - conceptual, as you cannot crawl), content quality, and briefly touch on the conceptual importance of a backlink profile. Do not attempt to crawl the URL. Format as a structured JSON report with sections for each focus area.\n\n## guidelines\n\nTry to meet the Google Helpful Content Standards, \"writing high quality review\" from Google Standard and Google Search Evaluator Guidlines.\n\n## Brand Information: \n- Target Audience: CEO, Managers, Digital Marketer, SEO-er.\n- Brand name: The AI Growth (or TAG)\n- Brand description: The AI Growth định vị là nền tảng tiên phong và đáng tin cậy tại Việt Nam, cung cấp các giải pháp AI và Automation để tiếp cận cho các doanh nghiệp SMEs, nhà quản lý marketing, và các nhà sáng tạo nội dung. The AI Growth mang đến kiến thức chuyên sâu, các công cụ hiện đại và ứng dụng thực tế, giúp khách hàng đạt được hiệu suất tối ưu trong hoạt động marketing, giảm chi phí, và mở rộng tăng trưởng nhanh chóng.\n- Brand image: Dành cho doanh nghiệp và marketer Việt Nam đang đối mặt với chi phí vận hành cao và hiệu quả marketing chưa tối ưu, The AI Growth là nền tảng đào tạo AI & Automation tiên phong mang đến giải pháp thực tiễn với cam kết hiệu quả trong 24 giờ thông qua phương châm 'Learning by Doing' - khác biệt với các khóa học marketing truyền thống chỉ cung cấp kiến thức lý thuyết.\n- Solution: Khóa học AI & Automation\n- Target market: Việt Nam\n- Website: https://theaigrowth.io\n\n## tool \n- Think: use this tool to think deeply when doing the task and after generate the response."
        }
      },
      "id": "69b08c0a-56d2-4020-8580-330d3559a078",
      "name": "Agent: SEO Audit",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -20,
        980
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. Main keyword/topic: {{ $json.user_query }}\n2. Output format: Text or markdown format only.  Do not in json format.",
        "options": {
          "systemMessage": "=You are an SEO copywriter. Based on the main keyword/topic and brand context, generate 3-5 variations of SEO-optimized page titles, URL slugs (short, keyword-rich), and meta descriptions. Format as a JSON array of objects, each containing \"title\", \"url_slug\", and \"meta_description\".\n\n## Brand Information: \n- Target Audience: CEO, Managers, Digital Marketer, SEO-er.\n- Brand name: The AI Growth (or TAG)\n- Brand description: The AI Growth định vị là nền tảng tiên phong và đáng tin cậy tại Việt Nam, cung cấp các giải pháp AI và Automation để tiếp cận cho các doanh nghiệp SMEs, nhà quản lý marketing, và các nhà sáng tạo nội dung. The AI Growth mang đến kiến thức chuyên sâu, các công cụ hiện đại và ứng dụng thực tế, giúp khách hàng đạt được hiệu suất tối ưu trong hoạt động marketing, giảm chi phí, và mở rộng tăng trưởng nhanh chóng.\n- Brand image: Dành cho doanh nghiệp và marketer Việt Nam đang đối mặt với chi phí vận hành cao và hiệu quả marketing chưa tối ưu, The AI Growth là nền tảng đào tạo AI & Automation tiên phong mang đến giải pháp thực tiễn với cam kết hiệu quả trong 24 giờ thông qua phương châm 'Learning by Doing' - khác biệt với các khóa học marketing truyền thống chỉ cung cấp kiến thức lý thuyết.\n- Solution: Khóa học AI & Automation\n- Target market: Việt Nam\n- Website: https://theaigrowth.io"
        }
      },
      "id": "0cf5edac-d37b-4902-9265-6acca9fcb1a4",
      "name": "Agent: Title/URL/Meta Generation",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        40,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {
          "maxTokensToSample": 20000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -100,
        780
      ],
      "id": "c7103d03-85b9-4f46-be96-d90a347c2dcb",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        200
      ],
      "id": "32e5990a-f7f1-4bec-9489-23fa7ac49e1a",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.seo_task_type }}",
                    "rightValue": "keyword research",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "22fbf012-0f93-419d-813d-c202ba60e70e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Keyword_Research"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32eb8c0b-b5a3-474d-9975-6b6a59ddf288",
                    "leftValue": "={{ $json.seo_task_type }}",
                    "rightValue": "onpage",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Onpage Basic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "99aca0fb-33e4-46e8-9ed0-04293754790a",
                    "leftValue": "={{ $json.seo_task_type }}",
                    "rightValue": "topical",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "topical map"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec662ead-5304-47f2-9e63-8175529e2fa4",
                    "leftValue": "={{ $json.seo_task_type }}",
                    "rightValue": "audit",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SEO Audit"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        480
      ],
      "id": "52ee56b4-a4be-4fe2-b271-364da6c12ebf",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chatID }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        60
      ],
      "id": "f2ea7bfd-32c0-48a9-b833-ede8cd0c1b76",
      "name": "Send Information",
      "webhookId": "94fa70af-f2fc-4c05-8fa1-d9f55637485f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QFsu63sPEgwBzZY0wPE-jluWL3Vz6wZLkEh7sA6es8k",
          "mode": "list",
          "cachedResultName": "Workflow Automation n8n - Content Marketing All",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFsu63sPEgwBzZY0wPE-jluWL3Vz6wZLkEh7sA6es8k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 535117644,
          "mode": "list",
          "cachedResultName": "SEO Task",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFsu63sPEgwBzZY0wPE-jluWL3Vz6wZLkEh7sA6es8k/edit#gid=535117644"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Task Type": "={{ $('Execute Workflow Trigger').item.json.seo_task_type }}",
            "Result": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Task Type",
              "displayName": "Task Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        600,
        300
      ],
      "id": "e3cc4ba5-3518-41d1-a992-fbef995d27b7",
      "name": "Google Sheets"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        220,
        780
      ],
      "id": "171d7aa8-a323-4ef6-a22e-99fff48f57c6",
      "name": "Think"
    },
    {
      "parameters": {
        "folderId": "15lMM-u_LW0qHn6jb5AEWZXLwtbCqyNgJ",
        "title": "={{ $('Execute Workflow Trigger').item.json.user_query }} - {{ $('Execute Workflow Trigger').item.json.seo_task_type }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        520,
        560
      ],
      "id": "8168679e-f0da-4887-9448-e179c09b098a",
      "name": "Google Docs"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Agent: Topical Map Generation').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        740,
        560
      ],
      "id": "ff46643e-f831-4430-93ee-d6b0ed0d7b44",
      "name": "Update GG Doc"
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chatID }}",
        "text": "=<a href=\"https://docs.google.com/document/d/{{ $json.documentId }}/edit?usp=sharing\"> Đây là File topic map của bạn </a>\n\nChúc bạn một ngày tốt lành.",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        560
      ],
      "id": "901b3294-8a7f-4939-bcc7-b2997616490b",
      "name": "Send Information1",
      "webhookId": "94fa70af-f2fc-4c05-8fa1-d9f55637485f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QFsu63sPEgwBzZY0wPE-jluWL3Vz6wZLkEh7sA6es8k",
          "mode": "list",
          "cachedResultName": "Workflow Automation n8n - Content Marketing All",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFsu63sPEgwBzZY0wPE-jluWL3Vz6wZLkEh7sA6es8k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 535117644,
          "mode": "list",
          "cachedResultName": "SEO Task",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFsu63sPEgwBzZY0wPE-jluWL3Vz6wZLkEh7sA6es8k/edit#gid=535117644"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Task Type": "={{ $('Execute Workflow Trigger').item.json.seo_task_type }}",
            "Result": "=https://docs.google.com/document/d/{{ $json.documentId }}/edit?usp=sharing"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Task Type",
              "displayName": "Task Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        760
      ],
      "id": "51e1b12a-2356-4cd2-a9f4-0f387df87b30",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {
          "maxTokensToSample": 20000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -100,
        1220
      ],
      "id": "ea6d6b17-0d20-4fe4-802d-c2e8223c83a7",
      "name": "Anthropic Chat Model1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        220,
        1220
      ],
      "id": "a7ac4759-b257-4203-8f39-523a3e0b5d27",
      "name": "Think1"
    },
    {
      "parameters": {
        "folderId": "15lMM-u_LW0qHn6jb5AEWZXLwtbCqyNgJ",
        "title": "={{ $('Execute Workflow Trigger').item.json.user_query }} - {{ $('Execute Workflow Trigger').item.json.seo_task_type }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        420,
        980
      ],
      "id": "13fb890a-0d46-4cbd-af14-c969373799f3",
      "name": "Google Docs1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Agent: Topical Map Generation').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        600,
        980
      ],
      "id": "69f122ce-e6a3-4178-97e9-98a5b2db2bcd",
      "name": "Update GG Doc1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QFsu63sPEgwBzZY0wPE-jluWL3Vz6wZLkEh7sA6es8k",
          "mode": "list",
          "cachedResultName": "Workflow Automation n8n - Content Marketing All",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFsu63sPEgwBzZY0wPE-jluWL3Vz6wZLkEh7sA6es8k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 535117644,
          "mode": "list",
          "cachedResultName": "SEO Task",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QFsu63sPEgwBzZY0wPE-jluWL3Vz6wZLkEh7sA6es8k/edit#gid=535117644"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Task Type": "={{ $('Execute Workflow Trigger').item.json.seo_task_type }}",
            "Result": "=https://docs.google.com/document/d/{{ $json.documentId }}/edit?usp=sharing"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Task Type",
              "displayName": "Task Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        840,
        1180
      ],
      "id": "d8d1da50-d316-4538-9599-7c82649d1d42",
      "name": "Google Sheets2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chatID }}",
        "text": "=1. <a href=\"https://docs.google.com/document/d/{{ $json.documentId }}/edit?usp=sharing\"> Đây là File SEO Audit cua ban </a>\n\n2. Bên dưới là kết quả chi tiết:\n{{ $('Agent: SEO Audit').item.json.output }}\n",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        840,
        980
      ],
      "id": "6eba6f02-6c67-4131-b746-208e1bcae724",
      "name": "Send Information2",
      "webhookId": "94fa70af-f2fc-4c05-8fa1-d9f55637485f"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        440
      ],
      "id": "486eda3d-b993-4698-b649-adafbea9f538",
      "name": "OpenAI Chat Model"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "seo_task_type": "keyword research",
          "user_query": "50 từ khóa về chủ đề \"đào tạo AI cho doanh nghiệp\" phân theo luồng phễu AIDA",
          "target_url": "https://theaigrowth.com",
          "chatID": 5443285991
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-10T20:50:22.000Z",
  "versionId": "c2a8ac40-16fb-4252-90bd-ccc690b599db"
}